
body {
    background-color: #fcf4d9;
  }
  
  header {
    background-color: #f4a460;
    color: white;
    padding: 20px;
  }
  
  main {
    background-color: #fff5f5;
    padding: 20px;
    border: 1px solid #db7093;
    border-radius: 5px;
  }
  
  article {
    background-color: #faebd7;
    padding: 10px;
    border: 1px solid #cd853f;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
  }
  
  li {
    margin: 10px;
    padding: 10px;
    background-color: #f9d5e5;
    border: 1px solid #c2185b;
    border-radius: 5px;
    text-align: center;
    flex: 1;
  }
  
  img {
    display: block;
    margin: auto;
    border: 5px solid #c2185b;
    border-radius: 50%;
    width: 50%;
  }
  
  /* Style the link */
  a {
    display: block;
    text-align: center;
    background-color: #c2185b;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
  }
  
  /* Style the hover effect for the link */
  a:hover {
    background-color: #ad1457;
    cursor: pointer;
  }